table.list {
    margin-top: 20px;
    width: 90%;
}
th {
    padding-left: 2px;
    background-color: #c0c0c0;
}

tr:nth-child(even) {background: #f7f7f7;}
tr:nth-child(odd) {background: #fff;}

td {
    padding: 2px;
}

label {min-width: 20%;}

div.buttons { margin-top: 10px; }

.id {display: none;}

.message {
    border: 1px solid #c0c0c0;
    margin-top: 10px;
    width: 50%;
    background-color: #f7f7f7;
    padding: 1%;
}

.author {font-size: 10px;}

.save_task {display: none; font-size: 10px;}
.cancel_task {display: none;font-size: 10px;}

.sprint_table_text,.list_text {font-size: 10px;}


#task_form_insert {display: none;margin-top: 20px;}
#member_form_insert {display: none;margin-top: 20px;}

.assign_form, .work_form {display: none;}

.work_form input[type=number] {
    width: 5em;
}

#message {
    width: 50%;
    height: 50px;
}

img[src$="remove.png"],img[src$="add.png"] {
    width: 15px;
}